// <copyright file="AgentApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// AgentApi.
    /// </summary>
    public class AgentApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AgentApi"/> class.
        /// </summary>
        internal AgentApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// The organization's runs, newest first. Pass one page's `next` as the following request's `after`.
        /// </summary>
        /// <param name="limit">Optional parameter: Page size, 1-100. Defaults to 20..</param>
        /// <param name="after">Optional parameter: Pagination cursor: the previous page's `next`..</param>
        /// <returns>Returns the ApiResponse of Models.ListAgentRunsResponse response from the API call.</returns>
        public ApiResponse<Models.ListAgentRunsResponse> ListAgentRuns(
                long? limit = null,
                string after = null)
            => CoreHelper.RunTask(ListAgentRunsAsync(limit, after));

        /// <summary>
        /// The organization's runs, newest first. Pass one page's `next` as the following request's `after`.
        /// </summary>
        /// <param name="limit">Optional parameter: Page size, 1-100. Defaults to 20..</param>
        /// <param name="after">Optional parameter: Pagination cursor: the previous page's `next`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListAgentRunsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListAgentRunsResponse>> ListAgentRunsAsync(
                long? limit = null,
                string after = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListAgentRunsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/agent/runs")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("limit", limit))
                      .Query(query => query.Setup("after", after))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Malformed or unknown query parameter.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Unknown `after` cursor.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the new run in `pending` state. Poll it by id until `status` reaches a terminal state.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public ApiResponse<Models.AgentRun> CreateAgentRun(
                Models.CreateAgentRunRequest body)
            => CoreHelper.RunTask(CreateAgentRunAsync(body));

        /// <summary>
        /// Returns the new run in `pending` state. Poll it by id until `status` reaches a terminal state.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public async Task<ApiResponse<Models.AgentRun>> CreateAgentRunAsync(
                Models.CreateAgentRunRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AgentRun>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/agent/runs")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Malformed body, unknown field, unknown `effort`, or a rejected `output_schema`.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("402", CreateErrorCase("Insufficient credits.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Poll until `status` reaches a terminal state.
        /// </summary>
        /// <param name="id">Required parameter: The run id..</param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public ApiResponse<Models.AgentRun> GetAgentRun(
                string id)
            => CoreHelper.RunTask(GetAgentRunAsync(id));

        /// <summary>
        /// Poll until `status` reaches a terminal state.
        /// </summary>
        /// <param name="id">Required parameter: The run id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public async Task<ApiResponse<Models.AgentRun>> GetAgentRunAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AgentRun>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/agent/runs/{id}")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("No such run in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Stop a run that has not finished. Returns the run, unchanged if it had already ended, so cancelling is safe to retry.
        /// </summary>
        /// <param name="id">Required parameter: The run id..</param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public ApiResponse<Models.AgentRun> CancelAgentRun(
                string id)
            => CoreHelper.RunTask(CancelAgentRunAsync(id));

        /// <summary>
        /// Stop a run that has not finished. Returns the run, unchanged if it had already ended, so cancelling is safe to retry.
        /// </summary>
        /// <param name="id">Required parameter: The run id..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AgentRun response from the API call.</returns>
        public async Task<ApiResponse<Models.AgentRun>> CancelAgentRunAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AgentRun>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/agent/runs/{id}/cancel")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("No such run in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}