// <copyright file="AnswerApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// AnswerApi.
    /// </summary>
    public class AnswerApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AnswerApi"/> class.
        /// </summary>
        internal AnswerApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// answer EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.AnswerHttpResponse response from the API call.</returns>
        public ApiResponse<Models.AnswerHttpResponse> Answer(
                Models.AnswerHttpRequest body)
            => CoreHelper.RunTask(AnswerAsync(body));

        /// <summary>
        /// answer EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AnswerHttpResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.AnswerHttpResponse>> AnswerAsync(
                Models.AnswerHttpRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AnswerHttpResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/answer")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Missing or malformed request fields.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("402", CreateErrorCase("Insufficient credits.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Endpoint not found, or a scope that matches nothing.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("405", CreateErrorCase("Wrong method for this endpoint.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("408", CreateErrorCase("The answer did not complete in time.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("413", CreateErrorCase("Request body is too large.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("415", CreateErrorCase("`Content-Type` is not `application/json`.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Rate limit exceeded. Wait before retrying.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}