// <copyright file="FetchApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// FetchApi.
    /// </summary>
    public class FetchApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="FetchApi"/> class.
        /// </summary>
        internal FetchApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// fetch EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.FetchResponse response from the API call.</returns>
        public ApiResponse<Models.FetchResponse> Fetch(
                Models.FetchRequest body)
            => CoreHelper.RunTask(FetchAsync(body));

        /// <summary>
        /// fetch EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FetchResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.FetchResponse>> FetchAsync(
                Models.FetchRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FetchResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/fetch")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Malformed body, an out-of-bounds or duplicated `urls` entry, or an unavailable `formats` or `tier` value. Unrecognized fields are ignored.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("402", CreateErrorCase("Insufficient credits.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("429", CreateErrorCase("Rate limited.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("Unexpected server error.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}