// <copyright file="MonitorsApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// MonitorsApi.
    /// </summary>
    public class MonitorsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="MonitorsApi"/> class.
        /// </summary>
        internal MonitorsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// listMonitors EndPoint.
        /// </summary>
        /// <param name="name">Optional parameter: Matches a monitor whose name is exactly this..</param>
        /// <param name="status">Optional parameter: One of `active`, `paused`, `disabled`. `deleted` is not a filter: a deleted monitor is invisible..</param>
        /// <param name="since">Optional parameter: Exclusive lower bound: the `monitor_id` of a monitor to start after..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound. The list is newest first, so page forward with the `monitor_id` of the last monitor on the previous page..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <returns>Returns the ApiResponse of Models.ListMonitorsResponse response from the API call.</returns>
        public ApiResponse<Models.ListMonitorsResponse> ListMonitors(
                string name = null,
                string status = null,
                string since = null,
                string before = null,
                int? limit = null)
            => CoreHelper.RunTask(ListMonitorsAsync(name, status, since, before, limit));

        /// <summary>
        /// listMonitors EndPoint.
        /// </summary>
        /// <param name="name">Optional parameter: Matches a monitor whose name is exactly this..</param>
        /// <param name="status">Optional parameter: One of `active`, `paused`, `disabled`. `deleted` is not a filter: a deleted monitor is invisible..</param>
        /// <param name="since">Optional parameter: Exclusive lower bound: the `monitor_id` of a monitor to start after..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound. The list is newest first, so page forward with the `monitor_id` of the last monitor on the previous page..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListMonitorsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListMonitorsResponse>> ListMonitorsAsync(
                string name = null,
                string status = null,
                string since = null,
                string before = null,
                int? limit = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListMonitorsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("name", name))
                      .Query(query => query.Setup("status", status))
                      .Query(query => query.Setup("since", since))
                      .Query(query => query.Setup("before", before))
                      .Query(query => query.Setup("limit", limit))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// createMonitor EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.CreateMonitorResponse response from the API call.</returns>
        public ApiResponse<Models.CreateMonitorResponse> CreateMonitor(
                Models.CreateMonitorRequest body)
            => CoreHelper.RunTask(CreateMonitorAsync(body));

        /// <summary>
        /// createMonitor EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CreateMonitorResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CreateMonitorResponse>> CreateMonitorAsync(
                Models.CreateMonitorRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CreateMonitorResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/monitors")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Missing or malformed fields.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Invalid or missing API key.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("That name is already taken in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GetMonitorResponse response from the API call.</returns>
        public ApiResponse<Models.GetMonitorResponse> GetMonitor(
                string monitorId)
            => CoreHelper.RunTask(GetMonitorAsync(monitorId));

        /// <summary>
        /// getMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetMonitorResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GetMonitorResponse>> GetMonitorAsync(
                string monitorId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetMonitorResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such monitor in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// deleteMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> DeleteMonitor(
                string monitorId)
            => CoreHelper.RunTask(DeleteMonitorAsync(monitorId));

        /// <summary>
        /// deleteMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> DeleteMonitorAsync(
                string monitorId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/monitors/{monitor_id}")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such monitor in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// updateMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.UpdateMonitorResponse response from the API call.</returns>
        public ApiResponse<Models.UpdateMonitorResponse> UpdateMonitor(
                string monitorId,
                Models.UpdateMonitorRequest body)
            => CoreHelper.RunTask(UpdateMonitorAsync(monitorId, body));

        /// <summary>
        /// updateMonitor EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UpdateMonitorResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UpdateMonitorResponse>> UpdateMonitorAsync(
                string monitorId,
                Models.UpdateMonitorRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UpdateMonitorResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/monitors/{monitor_id}")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such monitor in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("That name is already taken in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}