// <copyright file="RecordsApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// RecordsApi.
    /// </summary>
    public class RecordsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="RecordsApi"/> class.
        /// </summary>
        internal RecordsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// listRecords EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `record_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `record_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <param name="includeContent">Optional parameter: Include each record's document content. Defaults to true..</param>
        /// <returns>Returns the ApiResponse of Models.ListRecordsResponse response from the API call.</returns>
        public ApiResponse<Models.ListRecordsResponse> ListRecords(
                string monitorId,
                string since = null,
                string before = null,
                int? limit = null,
                bool? includeContent = null)
            => CoreHelper.RunTask(ListRecordsAsync(monitorId, since, before, limit, includeContent));

        /// <summary>
        /// listRecords EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `record_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `record_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <param name="includeContent">Optional parameter: Include each record's document content. Defaults to true..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRecordsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRecordsResponse>> ListRecordsAsync(
                string monitorId,
                string since = null,
                string before = null,
                int? limit = null,
                bool? includeContent = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRecordsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}/records")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Query(query => query.Setup("since", since))
                      .Query(query => query.Setup("before", before))
                      .Query(query => query.Setup("limit", limit))
                      .Query(query => query.Setup("include_content", includeContent))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such monitor in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Exists so that no consumer does arithmetic on a record id: a webhook carries a run's record range as a bound, not a dense sequence.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `record_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `record_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <param name="includeContent">Optional parameter: Include each record's document content. Defaults to true..</param>
        /// <returns>Returns the ApiResponse of Models.ListRunRecordsResponse response from the API call.</returns>
        public ApiResponse<Models.ListRunRecordsResponse> ListRunRecords(
                string monitorId,
                string runId,
                string since = null,
                string before = null,
                int? limit = null,
                bool? includeContent = null)
            => CoreHelper.RunTask(ListRunRecordsAsync(monitorId, runId, since, before, limit, includeContent));

        /// <summary>
        /// Exists so that no consumer does arithmetic on a record id: a webhook carries a run's record range as a bound, not a dense sequence.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `record_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `record_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000. A short page is normal: a page ends at `limit` or at the byte budget, whichever binds first..</param>
        /// <param name="includeContent">Optional parameter: Include each record's document content. Defaults to true..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRunRecordsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRunRecordsResponse>> ListRunRecordsAsync(
                string monitorId,
                string runId,
                string since = null,
                string before = null,
                int? limit = null,
                bool? includeContent = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRunRecordsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}/runs/{run_id}/records")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Template(template => template.Setup("run_id", runId).Required())
                      .Query(query => query.Setup("since", since))
                      .Query(query => query.Setup("before", before))
                      .Query(query => query.Setup("limit", limit))
                      .Query(query => query.Setup("include_content", includeContent))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such run on this monitor.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}