// <copyright file="RunsApi.cs" company="APIMatic">
// SeltzApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SeltzApi.Standard.Exceptions;
using SeltzApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SeltzApi.Standard.Apis
{
    /// <summary>
    /// RunsApi.
    /// </summary>
    public class RunsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="RunsApi"/> class.
        /// </summary>
        internal RunsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// listRuns EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `run_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `run_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000..</param>
        /// <param name="sort">Optional parameter: `desc` (the default, newest first) or `asc`..</param>
        /// <returns>Returns the ApiResponse of Models.ListRunsResponse response from the API call.</returns>
        public ApiResponse<Models.ListRunsResponse> ListRuns(
                string monitorId,
                string since = null,
                string before = null,
                int? limit = null,
                string sort = null)
            => CoreHelper.RunTask(ListRunsAsync(monitorId, since, before, limit, sort));

        /// <summary>
        /// listRuns EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="since">Optional parameter: Exclusive lower bound on `run_id`..</param>
        /// <param name="before">Optional parameter: Exclusive upper bound on `run_id`..</param>
        /// <param name="limit">Optional parameter: Defaults to 100, at most 1,000..</param>
        /// <param name="sort">Optional parameter: `desc` (the default, newest first) or `asc`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRunsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRunsResponse>> ListRunsAsync(
                string monitorId,
                string since = null,
                string before = null,
                int? limit = null,
                string sort = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRunsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}/runs")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Query(query => query.Setup("since", since))
                      .Query(query => query.Setup("before", before))
                      .Query(query => query.Setup("limit", limit))
                      .Query(query => query.Setup("sort", sort))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such monitor in this org.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getRun EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GetRunResponse response from the API call.</returns>
        public ApiResponse<Models.GetRunResponse> GetRun(
                string monitorId,
                string runId)
            => CoreHelper.RunTask(GetRunAsync(monitorId, runId));

        /// <summary>
        /// getRun EndPoint.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetRunResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GetRunResponse>> GetRunAsync(
                string monitorId,
                string runId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetRunResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}/runs/{run_id}")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Template(template => template.Setup("run_id", runId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such run on this monitor.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The only place a customer can tell *this query failed* from *there was genuinely nothing new*: records are a stream of positives, and absence cannot be inferred from presences.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ListRunRequestsResponse response from the API call.</returns>
        public ApiResponse<Models.ListRunRequestsResponse> ListRunRequests(
                string monitorId,
                string runId)
            => CoreHelper.RunTask(ListRunRequestsAsync(monitorId, runId));

        /// <summary>
        /// The only place a customer can tell *this query failed* from *there was genuinely nothing new*: records are a stream of positives, and absence cannot be inferred from presences.
        /// </summary>
        /// <param name="monitorId">Required parameter: .</param>
        /// <param name="runId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRunRequestsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRunRequestsResponse>> ListRunRequestsAsync(
                string monitorId,
                string runId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRunRequestsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/monitors/{monitor_id}/runs/{run_id}/requests")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("monitor_id", monitorId).Required())
                      .Template(template => template.Setup("run_id", runId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("404", CreateErrorCase("No such run on this monitor.", (errorReason, context) => new ErrorEnvelopeException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}